
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    min-width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: black;
}

body {
    width:500px;
    height:300px;
    background-image: url("bg.jpg");
}

#goal {
    background-color: 	#1E90FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#spendingHabits {

    background-color: #1E90FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


h1 {
    font-family: "Helvetica Neue", Arial, sans-serif;

    color: white;
    font-size: 30px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #3333FF;
}

h3 {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    font-family: Verdana, sans-serif;
    color:white;
    font-size: 20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}
