#goalz {
  height: 100%;
  color: transparent;
  position: absolute;
  left: 100px;
}

#progress {
  position: absolute;
  left: 500px;
  font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}
